body {
    margin: 0;
    padding: 0;
    background-image: url("../imagen/fondo3.jpg");
    background-size: 100%; }
#divContainer {
    height: 100%;
    grid-template-rows: 10% 3% 38.5% 38.5% 10%;
    grid-template-columns: 40% 40% 20%;
    grid-template-areas: "header header header"
                         "nav nav nav"
                         "section section aside"
                         "section section aside"
                         "footer footer footer"; }
